.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.logo {
color:#4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.logo:hover {
    color: #404bbf;
}

.logo:focus {
    color: #404bbf;
}

.span-header {
    color: #2e2f42;
}

.address {
    font-style: normal;
}

.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact:hover {
    color: #404bbf;
}

.contact:focus {
    color: #404bbf;
}

.menu-list {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.menu-list:hover {
    color: var(--SLATE,#404bbf);
}

.menu-list:focus {
    color: var(--SLATE,#404bbf);
}

.page {
    background-color: #FFFFFF;
    color: var(--SLATE, #434455);
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* First Section */
.first-section {
    background-color:#2E2F42;
}

.first-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button-first-title {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button-first-title:hover {
    background-color: #404BBF;
}

.button-first-title:focus {
    background-color: #404BBF;
}

/* Second Section */


.section-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
}

.paragraph-section-section {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-section {
    background-color: #F4F4FD;
}

.title-third-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.list-items {
    background-color: #FFFFFF;
}

.footer {
    background-color: #2e2f42;
}

.span-footer {
    color: #f4f4fd 
}

.paragraph-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}