.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}


/* header  */

.header-container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


.page-header {
    border-bottom: 1px, solid, #e7e9fc;
}

.page-navigation {
    display: flex;
    align-items: center; 
}


.logo {
color:#4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
margin-right: 76px;
}

.logo:hover {
    color: #404bbf;
}

.logo:focus {
    color: #404bbf;
}

.span-header {
    color: #2e2f42;
}

.address {
    font-style: normal;
}


.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    gap: 40px;
}

.contact:hover {
    color: #404bbf;
}

.contact:focus {
    color: #404bbf;
}

.menu-list {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.menu-list:hover {
    color: var(--SLATE,#404bbf);
}

.menu-list:focus {
    color: var(--SLATE,#404bbf);
}

.page {
    background-color: #FFFFFF;
    color: var(--SLATE, #434455);
    font-family: "Roboto", sans-serif;
    font-style: normal;
}



/* First Section */
.first-section {
    background-color:#2E2F42;
}

.first-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button-first-title {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button-first-title:hover {
    background-color: #404BBF;
}

.button-first-title:focus {
    background-color: #404BBF;
}

/* Second Section */


.section-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
}

.paragraph-section-section {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-second-section {
    display: flex;
}

/* third section */

.list-third-section {
    display: flex;

}
.third-section {
    background-color: #F4F4FD;
}

.title-third-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

/* fourth section */

.list-fourth-section {
    display: flex;
    padding: 120px 0;
       
}

.title-fourth-section {
    margin-bottom: 72px;
}
.list-items {
    background-color: #FFFFFF;
}

.footer {
    background-color: #2e2f42;
}

.span-footer {
    color: #f4f4fd 
}

.paragraph-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}


/* blocks */

/* загальний блок */

